<header class="">
    <div class="container d-flex header-content">
        <div class="logo">
            <a href="https://www.jetscholar.com/" class="nav-link2" title='Your choice, your world!'>
                <img src="../../public/assets/astrologo.jpg" height="60" width="240">
            </a>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="d-flex nav-bar">
                <li class="active">
                    <a href="#" class="nav-link">Become a Mastermind</a>
                </li>
                <li>
                    <a href="#" class="nav-link2">Sign In</a>
                </li>
                <li>
                    <a href="#" class="nav-link2">Sign Up</a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                        <i class="fa fa-bars"></i>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</header>