<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/main.css"></link>
    <title>AstroCam</title>
</head>
<body>
    <div class="container">
        <div class="grid">
            <header>
                CGS Star Night camera portal
            </header>
        
            <aside class="sidebar-left">
                Left Sidebar
            </aside>
        
            <article>
                <div class="display-cover">
                    <video autoplay></video>
                    <canvas class="d-none"></canvas>
                
                    <div class="video-options">
                        <select name="" id="" class="custom-select">
                            <option value="">Select camera</option>
                        </select>
                    </div>
                
                    <img class="screenshot-image d-none" alt="">

                    <div class="controls">
                        <button class="btn btn-danger play" title="Play"><i data-feather="play-circle"></i></button>
                        <button class="btn btn-info pause d-none" title="Pause"><i data-feather="pause"></i></button>
                        <button class="btn btn-outline-success screenshot d-none" title="ScreenShot"><i data-feather="image"></i></button>
                    </div>
                </div>
                
                <script src="/js/script.js"></script>
            </article>
        
            <aside class="sidebar-right">
                Right Sidebar
            </aside>
        </div>
    </div>
</body>
</html>